#AnchorPane{
    -fx-background-color: white;
}

#sendBtn{
    -fx-background-color: linear-gradient(#5b5b5b, #3c3c3c);
    -fx-background-radius:10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}
#sendBtn:hover{
    -fx-font-size: 9.5pt;
    -fx-cursor: hand;
}
